@import '~bootstrap/scss/bootstrap';

@import './partials/aside';

.main-wrapper{
    height: calc(100vh - 72px);
}


.table-crud{
    td:first-child{
        width: 500px;
    }
    input{
        border: none;
        outline: none;
    }
}
